.section__bg{
    background-color: var(--primary-bg-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 72.6rem;
}

.navbar__logo{
    width: 16.3rem;
    height: 3rem;
    background-image: url(../imgs/logo.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar{
    margin-top: 4.8rem;
}

.nav-item{
    color: var(--gray-light);
    padding: 2.2rem;
}

.header-nav__button{
    margin-left: 8rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #0060ff;
  position: absolute;
  height: 2px;
  width: 20px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -6px;
}

.menu-button::after {
  content: '';
  margin-top: 6px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
  


.section-hero{
    margin-top: 12rem;
    max-height: 49.6rem;
    height: 49.6rem;
    background-image: url(../imgs/image-hero.png);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-heading{
    color: var(--black);
    max-width: 39.3rem;
    margin-bottom: 2.4rem;
    font-size: 4.6rem;
    line-height: 5.4rem;
}

.hero-paragraph{
    max-width: 33.8rem;
    margin-bottom: 3.2rem;
}

.hero__buttons{
    gap: 1.6rem;
}


.section-icons{
    margin-top: 10rem;
}

.icons-wrapper{
    gap: 4rem;
}

.icon-block{
    width: 34rem;
    height: 26rem;
}

.icon-heading{
    margin-bottom: 1.6rem;
    font-family: var(--primary-font-semibold);
    color: var(--black);
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.icon-paragraph{
    max-width: 24.5rem;
    margin-bottom: 3.2rem;
}

.consistent-section{
    margin-top: 10rem;
}

.consistent-heading{
    font-family: var(--primary-font-semibold);
    color: var(--black);
    max-width: 28.5rem;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 3.8rem;
}

.consistent-paragraph{
    max-width: 28.5rem;
    margin-bottom: 3.2rem;
}

.cons-img{
    width: 53rem;
    height: 49.2rem;
    aspect-ratio: 530 / 492;
    margin-left: 21.5rem;
}

.cons-img__cursor{
    position: absolute;
    bottom: 100px;
    left: 150px;
}

.section-feature{
    margin-top: 10rem;
}

.feature-wrapper{
    gap: 40px;
}

.feature-img{
    width: 34rem;
    height: 27rem;
}

.feature__title{
    margin-top: 2.4rem;
    font-size: 2rem;
    line-height: 2.8rem;
    font-family: var(--primary-font-semibold);
    color: var(--black);
}

.feature-desc{
    margin-top: 0.8rem;
}

.efficient-section{
    margin-top: 10rem;
}

.efficient-heading{
    max-width: 28.5rem;
    font-size: 3rem;
    line-height: 3.8rem;
    font-family: var(--primary-font-semibold);
    color: var(--black);
}

.efficient-paragraph{
    max-width: 28.5rem;
}

.efficient-img{
    width: 53rem;
    height: 49.2rem;
    aspect-ratio: 530 / 492;
}

.efficient-img__cursor{
    position: absolute;
    bottom: 130px;
    right: -60px;
}

.efficient-content{
    margin-left: 177px;
}

.projects-section{
    margin-top: 10rem;
}

.project-content{
    margin-right: 10rem;
}

.project-heading{
    font-family: var(--primary-font-semibold);
    color: var(--black);
    max-width: 28.5rem;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 3.8rem;
}

.project-paragraph{
    max-width: 28.5rem;
    margin-bottom: 3.2rem;
}


.project-images{
    margin-left: auto;
}
.project-img{
    width: 625px;
    height: 594px;
    aspect-ratio: 625/594;
    margin-bottom: 5.8rem;
}

.section-pricing{
    margin-top: 10rem;
}

.content__heading{
    font-family: var(--primary-font-bold);
    color: var(--black);
    font-size: 3rem;
    line-height: 3.8
}

.container-pricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 40px;
    align-items: center;
}

.pricing-price{
    height: 47.8rem;
    max-width: 34rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    box-shadow: 0 0 30px -5px rgb(0 0 0 / 7%);
    padding: 24px 16px;
}

.pricing__heading{
    font-family: var(--primary-font-bold);
    margin-bottom: 1.6rem;
    color: var(--black);
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.pricing__price{
    margin-bottom: 0.8rem;
    color: var(--black);
    font-size: 5.6rem;
    line-height: 6.4rem;
}

.pricing__paragraph{
    margin-bottom: 3.2rem;
}

.pricing__checkbox{
    margin-bottom: 2.4rem;
    display: flex;
    gap: 0 16px;
}

.footer{
    margin-top: 10rem;
}

.container-footer{
    padding: 64px 0;
    border-top: 1px solid #ebeeef;
}

@media screen  and (max-width: 991px) {
    .section-hero{
        background-image: none;
        margin-top: 13rem;
    }
    .container.hero{
        display: flex;
        justify-content: center;
    }
    .hero-heading, .hero-paragraph{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero__buttons{
        justify-content: center;
    }
    .hero__buttons .primary-button{
        display: none;
    }

    .header-nav__button{
        display: none;
    }

    .menu-button-container {
        display: flex;
    }
    .nav-menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    #menu-toggle ~ .nav-menu a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 0;
    }
    #menu-toggle:checked ~ .nav-menu a {
        height: 2.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 1;
    }
    .nav-menu > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        color: var(--gray-light);
        background-color: #f9f9fa;
    }
    .container.icons-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .icon-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .icon-paragraph{
        max-width: 38rem;
    }
    .icon-img__1{
        padding-left: 17px;
    }
    .icon-img__2{
        padding-left: 50px;
    }
    .icon-img__3{
        padding-left: 55px;
    }

    .container.consistent{
        flex-direction: column-reverse;
    }

    .cons-img{
        margin-left: 0;
    }

    .cons-img__cursor{
        display: none;
    }

    .consistent-content{
        margin-top: 4.8rem;
        text-align: center;
    }

    .container.feature-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .feature-card{
        max-width: 340px;
        text-align: center;
    }

    .container.efficient{
        flex-direction: column;
    }
    .efficient-img__cursor{
        display: none;
    }
    .efficient-content{
        margin-left: 0;
        margin-top: 4.8rem;
        text-align: center;
    }
    .container.projects{
        flex-direction: column-reverse;
    }
    .project-content{
        margin-right: 0;
        text-align: center;
    }
    .container-pricing{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .pricing__content{
        max-width: 38rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .pricing-price{
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-content{
        flex-direction: column;
    }
}